<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-8t | %-5level | %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- debug -->
        <!-- info -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>